@import 'pallete';
@import 'mixins';

.header {
  position: relative;
  padding-left: 120px;
  &_image {
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50px;
    border: 1px solid $neutral95;
  }

  &_name {
    line-height: 1;
    font-size: 30px;
    color: $neutral30;
    margin-bottom: 12px;
  }
  &_role {
    line-height: 1;
    font-size: 21px;
    font-weight: 400;
    color: $primary40;
  }
  &_tech {
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block;
  }
  &_location {
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
    color: $neutral40;
  }
}