@import 'pallete';

.header {
  position: relative;
  padding: 0 0 0 120px;
  &_image {
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    position: absolute;
  }

  &_name {
    font-size: 30px;
    color: $neutral30;
    margin-bottom: 7px;
  }
  &_role {
    font-size: 21px;
    font-weight: 400;
    color: $primary40;
    white-space: nowrap;
  }
  &_tech {
    margin: 0 7px;
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block;
  }
  &_location {
    font-size: 16px;
    font-weight: 400;
    color: $neutral40;
  }
}