@import 'pallete';

.exptoggle {
  font-size: 14px;
  display: block;
  cursor: pointer;
  padding: 20px 0;
  text-align: right;
  text-decoration: underline;

  &:hover {
    color: $primary40;
  }
}

.expblock {
  position: relative;
  margin-bottom: 80px;

  &:before {
    top: 13px;
    left: -43px;
    width: 10px;
    content: '';
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: $primary40;
    box-shadow: 0px 0px 0px 4px $neutral80;
  }

  &.hidden {
    overflow: hidden;
    max-height: 150px;
    margin-bottom: 0px;

    &:after {
      left: 0;
      content: '';
      width: 100%;
      bottom: 0;
      height: 0;
      position: absolute;
      box-shadow: 0 0px 30px 40px rgb(255, 255, 255);
      -webkit-box-shadow: 0 0px 30px 40px rgb(255, 255, 255);
    }
  }

  &_heading {
    font-size: 21px;
    font-weight: 400;
    color: $neutral30;
  }
  &_duration {
    display: block;
    color: $primary40;
    margin-bottom: 20px;
  }
  &_summary {
    margin-bottom: 20px;
  }
  &_title {
    font-size: 14px;
    color: $neutral30;
    margin-bottom: 7px;
  }
  &_list {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  &_item {
    position: relative;
    &:before {
      top: 10px;
      width: 6px;
      left: -20px;
      height: 6px;
      content: '';
      border-radius: 50%;
      position: absolute;
      background-color: $primary40;
    }
  }
}