@import 'pallete';

.edublock {
  position: relative;
  margin-bottom: 50px;

  &:before {
    top: 11px;
    left: -43px;
    width: 10px;
    content: '';
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: $primary40;
    box-shadow: 0px 0px 0px 4px $neutral80;
  }

  &_heading {
    font-size: 18px;
    font-weight: 400;
    color: $neutral30;
  }
  &_duration {
    display: block;
    color: $primary40;
  }
  &_institute {
    font-size: 14px;
  }
}