@import 'pallete';
@import 'mixins';

.linkbutton {
  :global(.MuiButton-root) {
    height: 40px;
    font-weight: 600;
    background-color: $primary40;

    &:hover {
      background-color: $primary30;
    }
  }

  @include media-sm() {
    :global(.MuiButton-root) {
      font-size: 10px;
    }
  }
}