@import 'pallete';


.infoblock {
  display: flex;
  align-items: center;
  flex-direction: row;
  line-height: normal;
  &_icon {}
  &_text, &_link {
    margin: 0 5px;
  }
  &_link {
    text-decoration: underline;
  }
}
.address {
  &_heading {
    display: block;
    margin-bottom: 10px;
  }
}