@for $i from 0 through 50 {
  .br_m#{$i}{
      margin: $i+px !important;
  }
}

@for $i from 0 through 50 {
  .br_mt#{$i}{
      margin-top: $i+px !important;
  }
}

@for $i from 0 through 50 {
  .br_ml#{$i}{
      margin-left: $i+px !important;
  }
}

@for $i from 0 through 50 {
  .br_mr#{$i}{
      margin-right: $i+px !important;
  }
}

@for $i from 0 through 50 {
  .br_mb#{$i}{
      margin-bottom: $i+px !important;
  }
}