@mixin bg-color($color, $opacity: 1) {
  background-color: $color; /* The Fallback */
  background-color: rgba($color, $opacity);
}

@mixin absolute-center(){
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

@mixin dark() {
  [mode="dark"] & {
    @content
  }
}