@import 'variables';
@import 'pallete';

@mixin bg-color($color, $opacity: 1) {
  background-color: $color; /* The Fallback */
  background-color: rgba($color, $opacity);
}

@mixin absolute-center(){
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

@mixin media-xl {
  @media only screen and (max-width: 1536px) {
    @content;
  }
}

@mixin media-lg {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin bg-transparency($color, $opacity: 0.3) {
  background-color: $color; /* The Fallback */
  background-color: rgba($color, $opacity);
}

@mixin media-md {
  @media only screen and (max-width: 900px) {
    @content;
  }
}

@mixin media-sm {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin card($spacing: 15px) {
  padding: $spacing;
  box-shadow: $fancyShadow;
  background-color: $neutral100;
  border-radius: $borderRadius;
}

@mixin dark() {
  [mode="dark"] & {
    @content
  }
}