@for $i from 0 through 100 {
  .us_p#{$i}{
      padding: $i+px !important;
  }
}

@for $i from 0 through 100 {
  .us_pt#{$i}{
      padding-top: $i+px !important;
  }
}

@for $i from 0 through 100 {
  .us_pl#{$i}{
      padding-left: $i+px !important;
  }
}

@for $i from 0 through 100 {
  .us_pr#{$i}{
      padding-right: $i+px !important;
  }
}

@for $i from 0 through 100 {
  .us_pb#{$i}{
      padding-bottom: $i+px !important;
  }
}