$neutral0: #000000;
$neutral10: #363636;
$neutral20: #4c4c4c;
$neutral30: #606060;
$neutral40: #767676;
$neutral50: #909090;
$neutral60: #bcbcbc;
$neutral70: #cfcfcf;
$neutral80: #dfdfdf;
$neutral90: #e9e9e9;
$neutral95: #f4f3f3;
$neutral99: #f9f9f9;
$neutral100: #ffffff;

$primary0: #16070D;
$primary10: #47172A;
$primary20: #782647;
$primary30: #A83664;
$primary40: #D94581;
$primary50: #DE5C91;
$primary60: #E373A0;
$primary70: #E789B0;
$primary80: #ECA0BF;
$primary90: #F1B7CF;
$primary95: #F6CEDE;
$primary99: #FAE4EE;
$primary100: #FFFBFD;


$warning50: #FFF3E0;
$warning200: #FFCC80;
$warning500: #FF9800;
$warning600: #fb8c00;
$warning800: #ef6c00;

$success50: #E0F2F1;
$success200: #80CBC4;
$success500: #009688;
$success600: #00897B;
$success800: #00695C;

$error50: #FCE4EC;
$error200: #F48FB1;
$error500: #E91E63;
$error600: #D81B60;
$error800: #AD1457;

$info50: #E1F5FE;
$info200: #90CAF9;
$info500: #2196F3;
$info600: #1E88E5;
$info800: #1565C0;

$fancyShadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
$fancyShadowHover: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 14px -4px rgba(145, 158, 171, 0.22);