@import 'pallete';
@import 'mixins';

.resume {
  &_main, &_side {
    padding-top: 40px;
  }
}

.content, .side {
  border-width: 0;
  border-style: solid;
  border-color: $neutral80;
}

.content {
  border-right-width: 1px;
}

.side {
  margin-left: -1px;
  border-left-width: 1px;
}

@include media-md() {
  .content, .side {
    border: none;
  }
  .side {
    border-top: 1px solid $neutral80;
  }
}

@include media-sm {
  .resume {
    &_main, &_side {
      padding-top: 0px;
    }
  }
}