@import 'pallete';
@import 'mixins';

.download {
  right: 20px;
  bottom: 20px;
  position: fixed;
}
.resume {
  position: relative;

  @include media-md() {

    &_sidebar {
      top: 0;
      right: 0;
      position: fixed;
      padding: 0 20px;
      border-left: 1px solid $neutral80;
      transform: translateX(100%);
      background-color: $neutral100;

      @include transition(all 200ms ease);

      &.active {
        transform: translateX(0%);
      }
    }
  }
}