@import 'mixins';
@import 'pallete';
@import 'variables';

.catitem {
  &_crumbs {
    display: flex;
    padding: 0 10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    @include card(5px);
  }
}