@import 'pallete';

.profile {
  position: relative;
  margin-bottom: 30px;
  &:before {
    bottom: 0;
    left: 2px;
    width: 1px;
    height: 100%;
    content: '';
    z-index: -1;
    position: absolute;
    background-color: $neutral90;
  }

  &_heading {
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: $neutral100;
  }
  &_content {
    padding: 0 40px;
  }
  &_text {
    line-height: 27px;
    margin-bottom: 20px;
  }
}