@import 'pallete';
@import 'mixins';

.profile {
  position: relative;

  &:before {
    bottom: 0;
    left: 2px;
    width: 1px;
    height: 100%;
    content: '';
    z-index: -1;
    position: absolute;
    background-color: $neutral80;
  }

  &_content {
    padding: 0 40px;
  }
  &_text {
    margin-bottom: 25px;
  }

  @include media-md() {
    &_content {
      padding-right: 0;
    }
  }

  @include media-sm() {
    &:before {
      display: none;
    }
    &_content {
      padding: 0;
    }
  }
}