@import 'pallete';

.crumbs {
  height: 58px;
  display: flex;
  align-items: center;
  flex-direction: row;
  // padding: 8px 20px 8px 20px;
  justify-content: space-between;


  &_back {
    padding: 0;
    border: none;
    display: flex;
    cursor: pointer;
    color: $primary30;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
  }

  &_list {
    display: flex;
    margin: 0 20px;
    flex-direction: row;
  }
  &_item {}
  &_sep {
    margin: 0 10px;
    display: block;
  }
  &_link {

    &:hover {
      color: $primary30;
    }
  }
  &_text {
    font-weight: bold;
  }
}