@import 'pallete';
@import 'variables';

.articlemini {
  &_head {
    display: block;
    margin-bottom: 20px;
    position: relative;
    padding-left: 230px;
  }
  &_thumb {
    left: 0;
    top: 0;
    width: 210px;
    overflow: hidden;
    position: absolute;
    margin-bottom: 15px;
    border-radius: $borderRadius;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_category {
    display: block;
    margin-bottom: 2px;
    color: $neutral50;
  }
  &_heading {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    color: $neutral20;
    margin-bottom: 10px;
  }

  &_head:hover &_heading {
    color: $neutral0;
  }
  &_info {
    display: flex;
    flex-direction: row;
    margin: 0 -7px;
  }
  &_posted {
    padding: 0 7px;
    display: flex;
    color: $neutral40;
    align-items: center;
    flex-direction: row;
    &_icon {}
    &_text {
      font-size: 15px;
      margin: 0 5px;
    }
  }
  &_summary {}
  &_link {
    color: $primary40;

    &:hover {
      text-decoration: underline;
    }
  }
}